!*.xcodeproj/project.pbxproj
!*.xcodeproj/project.xcworkspace/
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
!src/**/build/
**/build/
**/xcshareddata/WorkspaceSettings.xcsettings
*.iml
*.xcodeproj/*
.DS_Store
.cxx
.externalNativeBuild
.fleet
.gradle
.idea
.kotlin
/.idea
/.idea/assetWizardSettings.xml
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/workspace.xml
/captures
/local.properties
build/
captures
local.properties
xcuserdata
/server/.env
